.settings/
Debug/
Drivers/

.cproject
.mxproject
.project
*.ld

.metadata
*.launch
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

.loadpath
.recommenders
.externalToolBuilders/
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.apt_generated_test/
.cache-main
.scala_dependencies
.worksheet
.sts4-cache/
